################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Kanban-board/.vs/Kanban-board
/Kanban-board/bin/Debug/net5.0
/Kanban-board/obj
/Kanban-board.Tests/bin/Debug/net5.0
/Kanban-board.Tests/obj
