@{
  Layout = "_Layout";
}

<div class="start-page">
    <table>
        <td colspan="1">
            <a href="add-order.html"><button>NOOOOOOOOOOOOOOOOOOO</button></a>
        </td>
    </table>
</div>