<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Customer</title>
</head>
<body>
    <script src="JS/add-customer/add-customer.js"></script>
    <link rel = "stylesheet" href="CSS/style.css">
    <div name="add-page">
        <table>
            <tr>
                <td colspan="1">Name:</td>
                <td colspan="1"><label>
                    <input type="text" id='name' maxlength = 38/>
                </label></td>
            </tr>
            <tr>
                <td colspan="1">Telephone:</td>
                <td colspan="1"><label>
                    <input type="tel" id='telephone' maxlength = 38/>
                </label></td>
            </tr>
            <tr>
                <td colspan="1">Address:</td>
                <td colspan="1"><label>
                    <input type="text" id='address' maxlength = 38/>
                </label></td>
            </tr>
            <tr>
                <td colspan="2">
                    <button onclick="addCustomer()">Add</button>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>
